<div data-role="page" id="index-page">
  <div data-role="header">
    <h1>MIT Coconut Party Weekend</h1>
  </div>

  <div data-role="content">
    <div data-role="listview" class="ui-listview">
      <li><a href="<%= events_path %>">Browse All Events</a></li>
      <li><a href="<%= search_events_path %>">Search Events</a></li>
      <li><a href="<%= ongoing_events_path %>">Ongoing Events</a></li>
      <li><a href="<%= changelog_events_path %>">Changelog</a></li>
    </div>
  </div>
</div>
